@keyframes slidy {
0% { left: 0%; }
50% { left: -100%; }
75% { left: -200%; }
100%{ left:-300%; }
}
body,html{
	margin: 0px auto;
	padding: 0px auto;
	font-size: 12px;
	font-family: sans-serif;
	width: 100%;
    height:100%;
	background:  rgba(0,0,0,0);
}
#nav-roler{
align-items: center;
display: flex;
flex-wrap:wrap;
flex-direction: row;
justify-content: center;
transition: linear .8s;
position: fixed;
top: 0;
left: 0;
right: 0;
margin: auto auto;
z-index: 1;
}
.inicio{
	background-color:  rgba(0,0,0,0.4);
	position: static;
}
.depois{
	background-color:  rgba(0,0,0,0.8);
}
nav #nav-item{
	line-height: 50px;
	height: 100%;
	font-size: 20px;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
#nav-item:hover,#portal:hover{
	color:black;
	background:white;
}
.projeto{
	height: 100%;
	background-color: white;
	overflow: hidden;

}
img{
	pointer-events: none;
}
#projeto img {
	height: 100%;
	width: 25%;
	float: left;
	overflow: hidden;
}
#projeto{
	overflow: hidden;
	position: relative;
	height: 100%;		
  	width: 400%;
  	margin: 0;
  	left: 0;
  	text-align: left;
  	font-size: 0;
	animation: 15s slidy infinite;
}

.ultimo{
    height: 100%;
	background-color: white;
}
#media{
	position: fixed;
	right: 2px;
	height: 150px;
	width: 50px;
	top:25%;
	padding: 1px;
	background: white;
	z-index: 1;
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
	flex-flow: row wrap;
	border-radius: 5px;
	border-color: black;
	border:1px;
}
#facebook{
	flex:1;
	width: 100%;
	position: static;
	z-index: 1;
}
#logo{
	position: absolute;
	top:5px;
	left: 10px;
	height: 40px;
}
#portal{
	position: absolute;
	top:0px;
	right: 10px;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
  	justify-content: space-around;
	align-items: center;
}
#portal img{
	height: 45%;
	flex: 1;
	text-align: center;

}
#portal span{
	height: 45%;
	flex: 1;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5%;

}

.educacao{
    height: 100%;
	background-color: white;
	margin: 0px;
	padding:0px;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#quadro{
	margin-top: 1%;
	margin-bottom: 1%;
	height: calc(98%);
	width: calc(95%/3);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.imagem{
	height: 49%;
	width: 100%;
}
.Quadro1{
	background-image: url(../imagem/carne.jpg);
	background-size: cover;
	background-position: center center;
}
.Quadro2{
	background-image: url(../imagem/dormindo.jpg);
	background-size: cover;
	background-position: right top;
}
.Quadro3{
	background-image: url(../imagem/invasao.jpg);
	background-size: cover;
	background-position: center center;
}
#textoQuadro{
	height: 49%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#textoMesmo{
	max-width: 100%;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
}
#textoQuadro h2{
	text-align: center;
	width: 100%;
}

#textoQuadro p{
	text-align: justify;
	height: auto;
	width: auto;
}

@media only screen and (max-width: 800px){
.projeto{
	height: auto;
	background-color: white;
	overflow: hidden;

}
.educacao{
	height: 1500px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
#quadro{
	width: 75%;
}
#textoQuadro{
	align-items: center;
}
}